@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fuzzy+Bubbles:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fuzzy+Bubbles:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  background-position: cover;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
  width: 100%;
}
:root {
  --logoColor: #0b8b3a;
  --logoColorLight: #22c55e;
  --navback: #dfe6d8;
  --lightGray: #334155;
  --ultraLightGray: #f0fdf4;
  --letterSpace: 1px;
  --filterText: #374151;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
button {
  cursor: pointer;
}

.nav-container {
  font-family: "Source Sans Pro", sans-serif;
  background: var(--navback);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.8rem;
}
.nav-container div {
  display: flex;
}
.nav-btn {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--lightGray);
}
.nav-btn-container {
  display: flex;
  align-items: center;
}
.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.logo h4 {
  color: var(--lightGray);
  font-size: 1.2rem;
  margin-left: 0.4rem;
  letter-spacing: var(--letterSpace);
}
.logo p {
  color: var(--logoColorLight);
  font-weight: 700;
  font-size: 1.3rem;
}
.logo-text {
  display: flex;
  align-items: center;
}
.logo-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 3.5px solid var(--logoColorLight);
}
.logo-icon {
  color: var(--logoColorLight);
  font-weight: bold;
}
.login-icon {
  font-size: 1.4rem;
  color: var(--lightGray);
}
.login-text {
  margin: 0 0.4rem;
  font-size: 1rem;
  letter-spacing: var(--letterSpace);
}
.nav-login-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-container {
  background: #f2f5f8;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-ett {
  margin: 0.5rem 0.5rem;
}
.filter-ett h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--filterText);
}
.filter-ett p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.9rem;
}
.filter-container button {
  margin: 0.5rem 0.5rem;
  width: 6.6rem;
  height: 2.6rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: white;
  background: var(--logoColor);
  border: none;
  border-radius: 4px 4px;
  letter-spacing: 0.5px;
  font-size: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.filter-container button:hover {
  border: 2px solid var(--logoColorLight);
}
.arrow-down {
  font-size: 0.7rem;
  line-height: 50px;
  margin-left: 0.3rem;
}
.nav-menu {
  position: fixed;
  transform: translateX(-100%);
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: white;
  width: 100%;
  height: 100vh;
  z-index: 99;
  transition: all 0.3s linear;
}
.show-menu {
  transform: translateX(0);
}
.divider {
  width: 5rem;
  margin: 0.3rem 0;
  height: 1px;
  background: var(--logoColorLight);
}
.nav-links {
  color: #6b7280;
  font-size: 0.9rem;
}
.nav-list {
  margin: 1rem 1rem;
  font-family: "Source Sans Pro", sans-serif;

  letter-spacing: var(--letterSpace);
}
.navbar-con {
  display: flex;
  color: var(--filterText);
  opacity: 0.7;
}

.nn {
  display: flex;
  margin-top: 1rem;
  margin-right: 0.5rem;

  font-weight: 700;
}
.navbar-con {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.navbar-con p {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: var(--logoColor);
}
.navbar-con h4 {
  margin: 0.3rem 0;
  cursor: pointer;
}
.navbar-con h4:hover {
  color: var(--logoColor);
}
.search {
  margin-right: 0.5rem;
}
.delare {
  margin: 1rem;
  width: 12rem;
  height: 1px;
  background: var(--filterText);
  opacity: 0.2;
}
.close-nav-btn {
  font-size: 1.1rem;
  opacity: 0.7;
  cursor: pointer;
}
.filter-menu-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filter-menu-buttons button {
  margin: 1rem 0.1rem;
  width: 40%;
  height: 1.8rem;
  border: none;
  background: var(--logoColorLight);
  color: white;
  letter-spacing: var(--letterSpace);
  font-weight: 700;
  opacity: 0.7;
}
.filter-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  position: fixed;
  transform: translateY(-200%);
  width: 100%;
  height: auto;
  z-index: 99;
  transition: all 0.3s linear;
}
.show {
  transform: translateY(0);
}
.filter-menu-nav {
  height: 3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.filter-menu-nav h4 {
  opacity: 0.8rem;
  font-size: 1rem;
  margin: 0 0.5rem;
}
.cancel-text {
  color: var(--logoColor);
  cursor: pointer;
}
.onpage-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.not-active {
  border-bottom: 1px solid gray;
  width: 33.33%;
  font-size: 0.85rem;
  cursor: pointer;
  color: rgb(75, 73, 73);
}

.active {
  border-bottom: 3px solid var(--logoColor);
  width: 33.33%;
  color: var(--logoColor);
  font-size: 0.85rem;
  cursor: pointer;
}
.onpage-buttons div {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.onpage-buttons span {
  margin-left: 0.2rem;
  margin-bottom: 0.2rem;
  letter-spacing: 0.5px;
}
.active h4,
.not-active h4 {
  margin-bottom: 0.3rem;
  opacity: 0.7;
}
.alt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: white;
}
.alt select,
button {
  margin: 1rem 0.5rem;
  border: none;
  border-radius: 4px 4px;
  background: transparent;
}
.alt select {
  background: white;
  width: 70%;
  height: 2.2rem;
  cursor: pointer;
  color: var(--lightGray);
  border: 1px solid rgb(214, 209, 209);
}
.alt button {
  height: 2.8rem;
  width: 6rem;
  color: var(--lightGray);
  border: 1px solid rgb(214, 209, 209);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-weight: 700;
  font-size: 1rem;
  background: var(--navback);
}
.antal-objects {
  margin-left: 0.5rem;
  color: var(--lightGray);
  font-size: 1rem;
  font-weight: 100;
}
.alt button:hover {
  background: white;
}

.addBanner-info {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 38%;
  background: white;
  margin-left: 0.3rem;
  width: 11rem;
  height: 2.8rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.addBanner-info h4 {
  font-size: 0.9rem;
}
.addBanner-info p {
  font-size: 0.9rem;
}
.bildskallvahar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  border: 2px solid green;
  margin: 0 0.2rem;
}
.adBanner-image-container {
  position: relative;
  border-radius: 6px 6px;
  margin: 1.3rem auto;
  width: 95%;
  position: relative;
  height: 310px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.adBanner-image-container img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 200px;
  width: 100%;
}
.construct {
  font-size: 1.4rem;
  color: var(--logoColor);
}
.map {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}
.adbanner-tjanster {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--logoColor);
  cursor: pointer;
  font-size: 0.9rem;
}

.adBanner-footer h4 {
  font-size: 0.9rem;
  font-weight: 100;
}
.adbanner-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adbanerlogga {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--navback);
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  width: 5rem;
  height: 2.2rem;
  font-family: "Fuzzy Bubbles", cursive;
}
.objects img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 180px;
  width: 100%;
}
.objects-container {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 6px 6px;
  margin: 1rem auto;
  width: 95%;
  height: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.objects {
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  margin-bottom: 1.2rem;
  border-radius: 6px 6px;
  width: 100%;
  height: 310px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.objects:hover {
  border: 1px solid var(--logoColor);
}
.hjarta {
  color: rgb(158, 155, 155);
  margin-right: 0.3rem;
}
.fill-hjarta {
  color: var(--logoColor);
  margin-right: 0.3rem;
}
.objects-footer {
  display: flex;
}
.objects-footer span {
  margin-top: 1rem;
  margin-right: 3rem;
  font-weight: 700;
}
.objects-footer-first {
  margin-left: 0.5rem;
}
.objects-logo {
  display: flex;
  justify-content: space-between;
}
.objectsreal-logo {
  font-size: 0.8rem;
  margin-right: 0.2rem;
}
.objectsreal-logo h4 {
  font-size: 0.8rem;
}
.ccc {
  font-size: 0.7rem;
}
.circlar {
  width: 1.5rem;
  height: 1.5rem;
}
.objects-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.objects-btn-container button {
  background: #c3f1d4;
  height: 1.2rem;
  width: 5rem;
  margin: 0.8rem 0.1rem;
  color: var(--logoColor);
}
.objects-btn-container button:hover {
  background: transparent;
  border: 1px solid #c3f1d4;
}
.object-location-text {
  font-size: 1rem;
  color: var(--filterText);
  opacity: 0.9;
  letter-spacing: var(--letterSpace);
}
.object-plot-icon {
  font-size: 0.9rem;
  color: var(--logoColorLight);
  font-weight: 700;
  margin-right: 0.4rem;
}
.objectsreal-logo,
.object-location-text {
  margin: 0.3rem 0.2rem;
}
.footer {
  background: #013a17;
  height: 400px;
  display: column;
  color: white;
}
.footer div {
  width: 94%;
  margin: 0 auto;
}
.footer-ul {
  display: flex;
  flex-direction: column;
}
.form-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}
.form-container h2 {
  color: white;
}

.form input {
  width: 16rem;
  height: 2rem;
  border: none;
  color: var(--logoColor);
  border-radius: 4px 4px;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  letter-spacing: var(--letterSpace);
}

.footer-mail {
  color: white;
  border: 2px solid white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}
.sub-btn {
  background: var(--logoColorLight);
  padding: 0.5rem;
  color: white;
  letter-spacing: var(--letterSpace);
}
.sub-btn:hover {
  background: white;
  color: var(--logoColorLight);
  border: 1px solid var(--logoColorLight);
}
.foreginer {
  color: var(--logoColor);
}

.singel-object-heartmap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.singel-object-heartmap button {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 0.4rem;
  border: 1px solid rgb(163, 161, 161);
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.8;
}
.singel-object-heartmap div {
  display: flex;
}
.singel-object-container {
  position: relative;
  margin-top: 1rem;
  height: auto;
}
.objects-link {
  color: var(--logoColor);
}
.singel-object img {
  width: 100vw;
  height: auto;
}

.single-object-img-container {
  position: relative;
}
.singel-img-left-arr {
  opacity: 0.7;
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  top: 40%;
  left: 0%;
  color: white;
  padding: 0.3rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--lightGray);
  margin: auto 0.2rem;
}
.singel-img-right-arr {
  margin: auto 0.2rem;
  opacity: 0.7;
  display: flex;
  padding: 0.3rem;
  background: var(--lightGray);
  position: absolute;
  font-size: 1.5rem;
  top: 40%;
  right: 0%;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.singel-object-info {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 0.3rem;
}
.singel-object-info h2 {
  color: var(--filterText);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  letter-spacing: var(--letterSpace);
  margin-left: 0.3rem;
  margin-top: 0.5rem;
}
.singel-object-info p {
  margin-left: 0.3rem;
  margin-top: 0.1rem;
  letter-spacing: var(--letterSpace);
  font-size: 0.83rem;
}
.map-btn-singel-object {
  color: rgb(90, 87, 87);
  border-bottom: 1px solid var(--logoColor);
  font-size: 0.8rem;
}
.singel-object-info h4 {
  margin-left: 0.3rem;
  letter-spacing: 2px;
  color: var(--logoColor);
  font-weight: 100;
}
.divider-singel-object {
  margin: 0.5rem 0.7rem;
  background: gray;
  border: 0.5px solid rgb(167, 164, 164);
  opacity: 0.5;
}
.singel-object-banner {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  color: var(--logoColor);
  z-index: 99;
  background: white;
  opacity: 0.6;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-1 {
  display: flex;
  margin-left: 0.3rem;
}
.ul-title li {
  margin: 0.4rem 0.3rem;
}
.ul-besk li {
  margin: 0.4rem 4rem;
  font-weight: bold;
}
.bid-comp {
  border-radius: 4px 4px;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  height: 3.4rem;
  background: var(--navback);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.bid-comp div {
  display: flex;
  align-items: center;
}
.bid-link {
  color: black;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}
.bid-btn {
  border-bottom: 1px solid black;
  margin-right: 0.5rem;
}
.hammer {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 2rem;
}
.bid-comp p {
  font-size: 1.05rem;
  font-weight: bold;
}
.singel-object-fact {
  margin: 1rem 0;
}
.singel-object-infotext {
  position: relative;
  margin: 1rem auto;
  line-height: 25px;
  font-size: 1.1rem;
  font-weight: 100;
  max-width: 90%;
  overflow: hidden;
  height: 150px;
  transition: all 0.3s linear;
}
.singel-object-infotext span {
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.7;
}
.singel-object-infotext-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  background: white;
  width: 100%;
  transition: all 0.3s linear;
}
.singel-object-infotext-btns button {
  height: 3rem;
  border-radius: 4px 4px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 0.3rem 0;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.7;
}
.soitbt-1 {
  background: white;
  border: 0.5px solid gray;
  color: black;
}
.soitbt-2 {
  background: var(--logoColor);
  color: white;
}
.hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  .singel-object-container {
    max-width: 700px;
    margin: 1rem auto;
    border: 1px solid rgb(221, 215, 215);
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 3px;
  }
  .jjj {
    display: flex;
  }
  .bid-div {
    max-width: 60%;
  }
  .singel-banner {
    max-width: 700px;
  }
  .ttt {
    max-width: 700px;
  }
  .singel-object-infotext {
    max-width: 300px;
  }
  .objects-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: 1fr;
  }
  .onpage-buttons span {
    font-size: 1rem;
  }
  .map-holder {
    display: flex;
  }
  .adBanner-image-container {
    height: 260px;
    margin-left: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 705px) {
  .adBanner-image-container {
    width: 350px;
  }
}
@media screen and (min-width: 900px) {
  .adBanner-image-container {
    width: 450px;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 1100px) {
  .objects-container {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 700px) {
    .adBanner-image-container {
      width: 550px;
      margin-right: 0.5rem;
    }
  }
}
.brokers-comp-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.brokers-comp-div h2 {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--lightGray);
  margin-bottom: 0.5rem;
}
.brokers-comp-div p {
  margin-left: 1rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid gray;
  width: 110px;
  font-weight: bold;
  opacity: 0.6;
}
.brokers-comp-div h6 {
  margin-left: 1rem;
  font-size: 0.9rem;
  font-weight: 100;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--logoColor);
}

.bbb button {
  width: 200px;
  height: 2.4rem;
  background: white;
  border: 1px solid rgb(192, 189, 189);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.8;
}
.brokers-logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bbb {
  margin-left: 0.5rem;
}
.brokers-logo {
  width: 6rem;
  margin-right: 1rem;
}
.icon-broker {
  margin-right: 0.2rem;
}
.sameoffice {
  margin-left: 1rem;
  font-size: 0.9rem;
  font-weight: 100;
  border-bottom: 1px solid gray;
  width: 200px;
  margin-bottom: 1rem;

  cursor: pointer;
}
.brokers-divider {
  height: 3rem;
}
.map-container {
  height: 260px;
  width: 96%;
  margin: 1rem auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.user-icon-container {
  border: 3px solid #22c55e;
  border-radius: 50%;
  padding: 0.1rem;
  margin-right: 0.5rem;
}
.user-icon {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
}
.user-icon-container:hover {
  background: #0b8b3a;
}
.user-modal {
  position: fixed;
  right: 1%;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 40vh;
  background: white;
  border-radius: 8px 8px;
  z-index: 1000;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.3s linear;
  transform: translateX(110%);
}
.show-user-modal {
  transform: translateX(0%);
}
.user-modal div {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
.user-modal img {
  display: flex;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}
.user-modal p {
  margin-left: 1rem;
}
.user-modal-link {
  color: var(--filterText);
  margin: 1rem auto;
  opacity: 0.7;
}
.fiUser {
  opacity: 0.7;
}
.fiUser:hover {
  color: var(--logoColor);
}
.user-modal-link:hover {
  color: var(--logoColor);
}
.user-logout {
  cursor: pointer;
  width: 94%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  height: 2.4rem;
  border: 1px solid rgb(201, 197, 197);
  margin: 1srem auto;
}
.user-logout:hover {
  color: var(--logoColor);
}
.footer-bottom-info {
  height: 5.4rem;
  background: #056d2b;
}
.footer-links {
  color: white;
}
.footer li {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  width: 200px;
  display: flex;

  align-items: center;
}
.footer li:hover {
  border-bottom: 1px solid white;
}
.insta-fot {
  margin-right: 0.4rem;
}
.footer-bottom-info div {
  display: flex;
  justify-content: center;
}
.footer-bottom-info button:hover {
  border-bottom: 1px solid white;
}
.footer-bottom-info span {
  color: white;
  font-size: 0.85rem;
}
.sums {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}
.sums div {
  display: flex;
  flex-direction: column;
}
.sums span {
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.pop {
  display: flex;
  justify-content: space-evenly;
}
.pop-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  padding: 0.2rem;
}
.pop-active {
  border-bottom: 2px solid green;
}
